<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.cloud.demo.dept.mapper.DeptMapper">

    <select id="selectByPrimaryKey" resultType="io.cloud.demo.api.entity.Dept">
        select * from `dept` where `dept_no` = #{value};
    </select>

    <select id="selectAll" resultType="io.cloud.demo.api.entity.Dept">
        select * from `dept`;
    </select>


</mapper>